<img src="/assets/img/burger.jpg">

<h1>Eat-Da-Burger!</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<form>
    <textarea name="burgerInput" id="burgerInput"></textarea>
    <br>
    <button type="submit" id="submit">Submit</button>
</form>
<p>Enter a burger you want to eat and click the "Submit" button.</p>

